:root {
    --color-primary:  rgb(32, 114, 87);
    --color-primary:  #1F2A24;
    --color-primary:  #28412B;
    --color-bg:rgb(12, 56, 41);
    --color-bg: #28412B;
    --color-bg:rgb(26, 37, 31);
    --color-surface-main:rgb(201, 221, 214);
    --color-surface-main:#F4F1EA;
    --color-surface-main:#EAE5DC;
    --color-text-default: rgb(23, 27, 26);
    --color-text-on-primary: white;
    --color-text-on-primary-hover: rgb(231, 205, 205);
    --transition: 200ms linear;
}

*, ::before, ::after {
    box-sizing: border-box;
    transition: color var(--transition), outline-offset var(--transition);
}

*:focus-visible {
    outline: var(--color-primary) 2px solid;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px var(--color-text-on-primary);
}
html, body {
    margin: 0;

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-bg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: var(--color-text-default);
    
}

.banner {
    padding: 1rem 0.5rem 0.75rem 0.5rem;
    background-color: var(--color-primary);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-on-primary);

     @media only screen and (max-width: 450px) {
     padding: 1rem .25rem; 
    }
}

.logo {
    font-size: 3rem;

}

nav {
    display: flex;
}

.banner a {
    color:inherit;
    display: block;
    text-decoration: none;
}

.nav-link {
    padding: .5rem 1rem;
    
    &:hover {
        color: var(--color-text-on-primary-hover);
    }
}

.date-place {
    display: flex;
    gap: .75rem;
    
    @media only screen and (max-width: 450px) {
    flex-direction: column;
    gap: .25rem; 
    }
}

.date-place--separator {
    border-left: 1px solid var(--color-text-on-primary);
}

h1, h2 {
    font-family: "Palatino Linotype", Palatino, serif;
}

h1, h2, h3, h4 {
    margin-block: 0 0.4em;
    padding-top: 0.7em;
}

p {
    margin-block: 0 1em;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    width: 52rem;
    margin-inline: auto;
    margin-block: 1rem 2rem;
    border-radius: 1rem;
    padding-inline: 1.5rem;
    background-color: var(--color-surface-main);
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    @media only screen and (max-width: 850px) {
     
            margin-block: 0 1rem;
            width: 100%;
            padding-inline: 1rem;
            border-radius: 0;
    }
}

.index-text {
    text-align: center;
}

#countdown {
    font-size: 3rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 1rem;
    @media only screen and (max-width: 450px) {
        font-size: 2rem;
     
           
    }
}

.countdown--label {
    font-size: 1rem;

}

button, .button {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-text-on-primary);
    padding: .75rem;
    border-radius: 4px;
    text-decoration: none;
    &:hover {
        color: var(--color-text-on-primary-hover);
    }
}

.main--bottom {
    margin-top: auto;
    padding-block-start: 2rem;
}

.img--blurred-container {
    margin: auto;
    border-radius: 50px;
    margin-block-end: 2rem;
    margin-inline-start: 50%;
    transform: translate(-50%);
    width: 400px;   

    @media only screen and (max-width: 450px) {
     width: 100%;   
    }
}

.img--blurred {
    border-radius: 50px;
    width: 100%;
}

.img--blurred-block {
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    box-shadow: inset 0 0 16px 8px var(--color-surface-main);
    border-radius: 50px;
}