<header class="banner">
    <span class="date-place">19.06.27 | Flotten forsamlingshus, Trondheim</span></span>
    <a class="logo" href="./index.html">
        Lars og Agata
    </a>
    <nav>
        <a class="nav-link" href="./on-the-day.html">På dagen</a>
        <a class="nav-link" href="./praktisk.html">Praktisk</a>
        <a class="nav-link" href="./photos.html">Bilder</a>
        <a class="nav-link" href="./RSVP.html">RSVP</a>
        <a class="nav-link" href="./registry.html" >Ønskeliste</a>
    </nav>
</header>