<header class="banner">
    <a class="logo" href="/">
        Lars og Agata
    </a>
    <nav>
        <a class="nav-link" href="./on-the-day.html">På dagen</a>
        <a class="nav-link" href="./praktisk.html">Praktisk</a>
        <a class="nav-link" href="./photos.html">Bilder</a>
        <a class="nav-link" href="./RSVP.html">RSVP</a>
        <a class="nav-link" >Ønskeliste</a>
    </nav>
    <span class="date-place"><span>19.06.26</span> <span>Flotten forsamlingshus, Trondheim</span></span>
</header>