<header class="banner">
    <div class="date-place"><span>19.06.27</span> <div class="date-place--separator"></div> <span>Flotten forsamlingshus, Trondheim</span></div>
    <a class="logo" href="./index.html">
        Lars og Agata
    </a>
    <nav>
        <a class="nav-link" href="./on-the-day.html">På dagen</a>
        <a class="nav-link" href="./praktisk.html">Praktisk</a>
        <a class="nav-link" href="./photos.html">Bilder</a>
        <a class="nav-link" href="./RSVP.html">RSVP</a>
        <a class="nav-link" href="./registry.html" >Ønskeliste</a>
    </nav>
</header>